Organizing the data for running regression based on the website below (pg 2)  
https://www.princeton.edu/~otorres/Panel101.pdf

In [1]:
import pandas as pd 
import numpy as np
import pathlib

## Cyclically Adjusted Primary Balance Data

Source: OECD  
Measure: Cyclically-adjusted general government primary balance  
https://data-explorer.oecd.org/?lc=en&pg=0

In [2]:
# importing cyclically adjusted primary balance data
df_CAPB = pd.read_csv('/Users/aadityakumaryadav/Downloads/OECD Data/OECD CAPB.csv')

In [3]:
df_CAPB.head()

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,ACTION,REF_AREA,Reference area,MEASURE,Measure,FREQ,Frequency of observation,...,BASE_PER,Base period,METHODOLOGY,Methodology,DECIMALS,Decimals,PRICE_BASE,Price base,ADJUSTMENT,Adjustment
0,DATAFLOW,OECD.ECO.MAD:DSD_EO@DF_EO(1.3),Economic Outlook 117,I,EA17,Euro area (17 countries),NLGXQA,Cyclically-adjusted general government primary...,A,Annual,...,NaN,NaN,NaN,NaN,2,Two,NaN,NaN,C,"Trend-cycle, calendar adjusted"
1,DATAFLOW,OECD.ECO.MAD:DSD_EO@DF_EO(1.3),Economic Outlook 117,I,EA17,Euro area (17 countries),NLGXQA,Cyclically-adjusted general government primary...,A,Annual,...,NaN,NaN,NaN,NaN,2,Two,NaN,NaN,C,"Trend-cycle, calendar adjusted"
2,DATAFLOW,OECD.ECO.MAD:DSD_EO@DF_EO(1.3),Economic Outlook 117,I,EA17,Euro area (17 countries),NLGXQA,Cyclically-adjusted general government primary...,A,Annual,...,NaN,NaN,NaN,NaN,2,Two,NaN,NaN,C,"Trend-cycle, calendar adjusted"
3,DATAFLOW,OECD.ECO.MAD:DSD_EO@DF_EO(1.3),Economic Outlook 117,I,EA17,Euro area (17 countries),NLGXQA,Cyclically-adjusted general government primary...,A,Annual,...,NaN,NaN,NaN,NaN,2,Two,NaN,NaN,C,"Trend-cycle, calendar adjusted"
4,DATAFLOW,OECD.ECO.MAD:DSD_EO@DF_EO(1.3),Economic Outlook 117,I,EA17,Euro area (17 countries),NLGXQA,Cyclically-adjusted general government primary...,A,Annual,...,NaN,NaN,NaN,NaN,2,Two,NaN,NaN,C,"Trend-cycle, calendar adjusted"

In [4]:
print(df_CAPB.columns)

Index(['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'ACTION', 'REF_AREA',
       'Reference area', 'MEASURE', 'Measure', 'FREQ',
       'Frequency of observation', 'TIME_PERIOD', 'Time period', 'OBS_VALUE',
       'Observation value', 'OBS_STATUS', 'Observation status', 'UNIT_MEASURE',
       'Unit of measure', 'UNIT_MULT', 'Unit multiplier', 'CURRENCY',
       'Currency', 'BASE_PER', 'Base period', 'METHODOLOGY', 'Methodology',
       'DECIMALS', 'Decimals', 'PRICE_BASE', 'Price base', 'ADJUSTMENT',
       'Adjustment'],
      dtype='object')

In [5]:
# dataframes in all caps based on varaiable represent the data downloaded from the source
# dataframes without all caps represents data after cleaning 
# this approach makes it possible to retrieve the orignal data later on if needed

# many of the columns are not needed for the analysis, so removing them 
df_capb = df_CAPB.drop(columns = ['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'ACTION', 'REF_AREA', 'MEASURE',
                                  'FREQ','Price base', 'ADJUSTMENT','Adjustment', 'METHODOLOGY', 'Methodology', 
                                  'DECIMALS', 'Decimals', 'PRICE_BASE', 'Price base', 'MEASURE', 
                                  'Frequency of observation', 'Observation value', 'OBS_STATUS', 
                                  'Observation status', 'UNIT_MULT', 'Unit multiplier', 'Time period', 'BASE_PER',
                                  'Base period', 'CURRENCY','UNIT_MEASURE', 'Unit of measure','Currency'])

In [6]:
# changing the names of the columns
df_capb.columns = ['Country', 'Variable', 'Year', 'Value']
df_capb['Variable'] = 'CAPB'

# converting value from percent to decimal
df_capb['Value'] = df_capb['Value']/100

df_capb.head()

                    Country Variable  Year     Value
0  Euro area (17 countries)     CAPB  2009 -0.021238
1  Euro area (17 countries)     CAPB  2008 -0.008800
2  Euro area (17 countries)     CAPB  1995 -0.019436
3  Euro area (17 countries)     CAPB  1994  0.010137
4  Euro area (17 countries)     CAPB  1993  0.010327

In [7]:
df_capb['Country'].unique()

array(['Euro area (17 countries)', 'Lithuania', 'Denmark', 'France',
       'Ireland', 'Netherlands', 'Italy', 'Estonia', 'Portugal', 'Norway',
       'Luxembourg', 'Belgium', 'United Kingdom', 'Spain', 'Iceland',
       'Switzerland', 'Latvia', 'Czechia', 'Canada', 'Greece', 'OECD',
       'Slovenia', 'Japan', 'Romania', 'Croatia', 'Poland',
       'United States', 'Austria', 'Sweden', 'Finland', 'Australia',
       'Korea', 'Hungary', 'Germany', 'Israel', 'Bulgaria', 'New Zealand'],
      dtype=object)

In [8]:
# these are the countries that will be used in analysis
countries_to_keep = ['Austria', 'Australia', 'Belgium', 'Finland', 'France', 'Germany', 'Greece', 'Ireland', 
                     'Italy', 'Japan', 'Netherlands', 'Norway', 'Spain', 'Sweden', 'Switzerland', 'United Kingdom',
                     'United States', 'New Zealand', 'Denmark', 'Canada']

In [9]:
df_capb = df_capb[df_capb['Country'].isin(countries_to_keep)]

In [10]:
df_capb['Country'].unique()

array(['Denmark', 'France', 'Ireland', 'Netherlands', 'Italy', 'Norway',
       'Belgium', 'United Kingdom', 'Spain', 'Switzerland', 'Canada',
       'Greece', 'Japan', 'United States', 'Austria', 'Sweden', 'Finland',
       'Australia', 'Germany', 'New Zealand'], dtype=object)

## Unemployment Rate Data

Source: IMF        
Dataset: World Economic Outlook (WEO)             
https://data.imf.org/en/Data-Explorer?datasetUrn=IMF.RES:WEO(6.0.0)

In [11]:
df_UNEMPLOYMENT = pd.read_csv('/Users/aadityakumaryadav/Downloads/OECD Data/IMF Unemployment Rate %.csv')

In [12]:
df_UNEMPLOYMENT.head()

   COUNTRY          INDICATOR FREQUENCY  TIME_PERIOD  OBS_VALUE  SCALE
0  Ireland  Unemployment rate    Annual         1985       17.7  Units
1  Ireland  Unemployment rate    Annual         1986       18.1  Units
2  Ireland  Unemployment rate    Annual         1987       18.8  Units
3  Ireland  Unemployment rate    Annual         1988       18.4  Units
4  Ireland  Unemployment rate    Annual         1989       17.9  Units

In [13]:
df_unemployment = df_UNEMPLOYMENT.drop(columns = ['FREQUENCY','SCALE'])

In [14]:
# Value = Unemployment Rate (%)
df_unemployment.columns = ['Country', 'Variable', 'Year', 'Value'] 
df_unemployment['Variable'] = 'unemployment_rate' 

# converting value from percent to decimal
df_unemployment['Value'] = df_unemployment['Value']/100

In [15]:
df_unemployment.head()

   Country           Variable  Year  Value
0  Ireland  unemployment_rate  1985  0.177
1  Ireland  unemployment_rate  1986  0.181
2  Ireland  unemployment_rate  1987  0.188
3  Ireland  unemployment_rate  1988  0.184
4  Ireland  unemployment_rate  1989  0.179

In [16]:
df_unemployment['Country'].unique()

array(['Ireland', 'Australia', 'Belgium', 'Canada', 'Denmark', 'Finland',
       'France', 'Germany', 'Greece', 'Italy', 'Japan',
       'Korea, Republic of', 'New Zealand', 'Netherlands, The', 'Norway',
       'Portugal', 'Spain', 'Sweden', 'Switzerland', 'United Kingdom',
       'United States', 'Austria'], dtype=object)

In [17]:
# replacing the names for the countries to be standard across entire dataset
df_unemployment['Country'] = df_unemployment['Country'].replace(
    {'Netherlands, The': 'Netherlands', 'Korea, Republic of': 'Korea'})

In [18]:
df_unemployment = df_unemployment[df_unemployment['Country'].isin(countries_to_keep)]
df_unemployment['Country'].unique()

array(['Ireland', 'Australia', 'Belgium', 'Canada', 'Denmark', 'Finland',
       'France', 'Germany', 'Greece', 'Italy', 'Japan', 'New Zealand',
       'Netherlands', 'Norway', 'Spain', 'Sweden', 'Switzerland',
       'United Kingdom', 'United States', 'Austria'], dtype=object)

## Real GDP Data

Source: OECD   
https://data-explorer.oecd.org/?lc=en&pg=0

In [19]:
# annual data for real GDP (billions), reference year 2020 (9)
df_REAL_GDP = pd.read_csv('/Users/aadityakumaryadav/Downloads/OECD Data/OECD Real GDP Annual.csv')

In [20]:
df_REAL_GDP.head()

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,ACTION,FREQ,Frequency of observation,REF_AREA,Reference area,MEASURE,Measure,...,CONF_STATUS,Confidentiality status,DECIMALS,Decimals,OBS_STATUS,Observation status,UNIT_MULT,Unit multiplier,CURRENCY,Currency
0,DATAFLOW,OECD.SDD.NAD:DSD_NAAG@DF_NAAG_I(1.0),NAAG Chapter 1: GDP,I,A,Annual,BEL,Belgium,B1GQ_R,Real gross domestic product,...,F,Free (free for publication),2,Two,A,Normal value,9,Billions,_Z,Not applicable
1,DATAFLOW,OECD.SDD.NAD:DSD_NAAG@DF_NAAG_I(1.0),NAAG Chapter 1: GDP,I,A,Annual,BEL,Belgium,B1GQ_R,Real gross domestic product,...,F,Free (free for publication),2,Two,A,Normal value,9,Billions,_Z,Not applicable
2,DATAFLOW,OECD.SDD.NAD:DSD_NAAG@DF_NAAG_I(1.0),NAAG Chapter 1: GDP,I,A,Annual,BEL,Belgium,B1GQ_R,Real gross domestic product,...,F,Free (free for publication),2,Two,A,Normal value,9,Billions,_Z,Not applicable
3,DATAFLOW,OECD.SDD.NAD:DSD_NAAG@DF_NAAG_I(1.0),NAAG Chapter 1: GDP,I,A,Annual,BEL,Belgium,B1GQ_R,Real gross domestic product,...,F,Free (free for publication),2,Two,A,Normal value,9,Billions,_Z,Not applicable
4,DATAFLOW,OECD.SDD.NAD:DSD_NAAG@DF_NAAG_I(1.0),NAAG Chapter 1: GDP,I,A,Annual,FIN,Finland,B1GQ_R,Real gross domestic product,...,F,Free (free for publication),2,Two,E,Estimated value,9,Billions,_Z,Not applicable

In [21]:
print(df_REAL_GDP.columns)

Index(['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'ACTION', 'FREQ',
       'Frequency of observation', 'REF_AREA', 'Reference area', 'MEASURE',
       'Measure', 'UNIT_MEASURE', 'Unit of measure', 'CHAPTER', 'Chapter',
       'TIME_PERIOD', 'Time period', 'OBS_VALUE', 'Observation value',
       'ADJUSTMENT', 'Adjustment', 'COUNTERPART_AREA', 'Counterpart area',
       'SECTOR', 'Institutional sector', 'COUNTERPART_SECTOR',
       'Counterpart institutional sector', 'CONSOLIDATION',
       'Consolidation status', 'ACCOUNTING_ENTRY', 'Accounting entry',
       'TRANSACTION', 'Transaction', 'INSTR_ASSET', 'Instruments and assets',
       'MATURITY', 'Original and residual maturity', 'PRODUCT', 'Product',
       'PENSION_FUNDTYPE', 'Pension fund type', 'CURRENCY_DENOM',
       'Currency of denomination', 'VALUATION', 'Valuation', 'PRICE_BASE',
       'Price base', 'TRANSFORMATION', 'Transformation', 'TABLE_IDENTIFIER',
       'Table identifier', 'REF_YEAR_PRICE', 'Price reference year',
       'BASE_PER', 'Base period', 'CONF_STATUS', 'Confidentiality status',
       'DECIMALS', 'Decimals', 'OBS_STATUS', 'Observation status', 'UNIT_MULT',
       'Unit multiplier', 'CURRENCY', 'Currency'],
      dtype='object')

In [22]:
df_real_GDP = df_REAL_GDP.drop(columns = ['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'ACTION', 'REF_AREA', 
                                          'FREQ','MEASURE','Price base', 'ADJUSTMENT','Adjustment', 'DECIMALS',
                                          'Decimals', 'PRICE_BASE', 'Price base', 'MEASURE', 
                                          'Frequency of observation','Observation value', 'OBS_STATUS', 
                                          'Observation status', 'UNIT_MULT', 'Unit multiplier','Time period', 
                                          'BASE_PER', 'Base period', 'CURRENCY','UNIT_MEASURE', 'Unit of measure',
                                          'Currency'])
df_real_GDP = df_real_GDP.drop(columns = ['CHAPTER', 'Chapter','COUNTERPART_AREA', 'Counterpart area', 'SECTOR',
                                          'Institutional sector', 'COUNTERPART_SECTOR',
                                          'Counterpart institutional sector', 'CONSOLIDATION', 
                                          'Consolidation status', 'ACCOUNTING_ENTRY', 'Accounting entry',
                                          'TRANSACTION', 'Transaction', 'INSTR_ASSET',  'Instruments and assets',
                                          'MATURITY', 'Original and residual maturity', 'PRODUCT', 'Product', 
                                          'PENSION_FUNDTYPE', 'Pension fund type', 'CURRENCY_DENOM',
                                          'Currency of denomination', 'VALUATION', 'Valuation', 'TRANSFORMATION', 
                                          'Transformation', 'TABLE_IDENTIFIER', 'Table identifier',
                                          'REF_YEAR_PRICE', 'Price reference year', 'CONF_STATUS',
                                          'Confidentiality status'])

In [23]:
df_real_GDP.head()

  Reference area                      Measure  TIME_PERIOD   OBS_VALUE
0        Belgium  Real gross domestic product         1998  471.442368
1        Belgium  Real gross domestic product         1997  462.371416
2        Belgium  Real gross domestic product         1996  445.471683
3        Belgium  Real gross domestic product         1995  439.661850
4        Finland  Real gross domestic product         1971   96.404562

In [24]:
# Value = Real GDP
df_real_GDP.columns = ['Country','Variable', 'Year', 'Value']

# took the log of real GDP
df_real_GDP['Value'] = np.log(df_real_GDP['Value']) 

df_real_GDP['Variable'] = 'real_GDP'

df_real_GDP.head()

   Country  Variable  Year     Value
0  Belgium  real_GDP  1998  6.155797
1  Belgium  real_GDP  1997  6.136368
2  Belgium  real_GDP  1996  6.099134
3  Belgium  real_GDP  1995  6.086006
4  Finland  real_GDP  1971  4.568554

In [25]:
df_real_GDP['Country'].unique()

array(['Belgium', 'Finland', 'Italy', 'Luxembourg', 'Mexico', 'Colombia',
       'Israel', 'United States', 'Slovenia', 'Ireland',
       'Slovak Republic', 'Spain', 'Iceland', 'Estonia', 'France',
       'United Kingdom', 'Austria', 'Lithuania', 'Canada', 'Australia',
       'Switzerland', 'Czechia', 'Norway', 'Greece', 'New Zealand',
       'Poland', 'Hungary', 'Japan', 'Korea', 'Latvia', 'Netherlands',
       'Germany', 'Portugal', 'Sweden', 'Denmark', 'Costa Rica',
       'Türkiye', 'Chile'], dtype=object)

In [26]:
df_real_GDP = df_real_GDP[df_real_GDP['Country'].isin(countries_to_keep)]
df_real_GDP['Country'].unique()

array(['Belgium', 'Finland', 'Italy', 'United States', 'Ireland', 'Spain',
       'France', 'United Kingdom', 'Austria', 'Canada', 'Australia',
       'Switzerland', 'Norway', 'Greece', 'New Zealand', 'Japan',
       'Netherlands', 'Germany', 'Sweden', 'Denmark'], dtype=object)

## Rates Data      
### (Long-term rates, Short-term interest rate, Central bank policy rates)

Source: OECD   
Measures: long-term interest rate on government bonds, short-term interest rate, central bank key interest rate  
https://data-explorer.oecd.org/?lc=en&pg=0

In [27]:
df_RATES = pd.read_csv('/Users/aadityakumaryadav/Downloads/OECD Data/OECD LR, SR, PR.csv')

In [28]:
df_RATES.head()

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,ACTION,REF_AREA,Reference area,MEASURE,Measure,FREQ,Frequency of observation,...,BASE_PER,Base period,METHODOLOGY,Methodology,DECIMALS,Decimals,PRICE_BASE,Price base,ADJUSTMENT,Adjustment
0,DATAFLOW,OECD.ECO.MAD:DSD_EO_116@DF_EO_116(1.0),Economic Outlook 116,I,LVA,Latvia,IRS,Short-term interest rate,A,Annual,...,NaN,NaN,NaN,NaN,2,Two,NaN,NaN,NaN,NaN
1,DATAFLOW,OECD.ECO.MAD:DSD_EO_116@DF_EO_116(1.0),Economic Outlook 116,I,LVA,Latvia,IRS,Short-term interest rate,A,Annual,...,NaN,NaN,NaN,NaN,2,Two,NaN,NaN,NaN,NaN
2,DATAFLOW,OECD.ECO.MAD:DSD_EO_116@DF_EO_116(1.0),Economic Outlook 116,I,LVA,Latvia,IRS,Short-term interest rate,A,Annual,...,NaN,NaN,NaN,NaN,2,Two,NaN,NaN,NaN,NaN
3,DATAFLOW,OECD.ECO.MAD:DSD_EO_116@DF_EO_116(1.0),Economic Outlook 116,I,LVA,Latvia,IRS,Short-term interest rate,A,Annual,...,NaN,NaN,NaN,NaN,2,Two,NaN,NaN,NaN,NaN
4,DATAFLOW,OECD.ECO.MAD:DSD_EO_116@DF_EO_116(1.0),Economic Outlook 116,I,LVA,Latvia,IRS,Short-term interest rate,A,Annual,...,NaN,NaN,NaN,NaN,2,Two,NaN,NaN,NaN,NaN

In [29]:
df_rates = df_RATES.drop(columns = ['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'ACTION', 'REF_AREA', 
                                    'MEASURE', 'FREQ', 'Unit of measure', 'UNIT_MULT', 'Unit multiplier', 
                                    'CURRENCY', 'Currency', 'BASE_PER', 'Base period', 'METHODOLOGY', 
                                    'Methodology', 'DECIMALS', 'Decimals', 'PRICE_BASE', 'Price base', 
                                    'ADJUSTMENT','Adjustment'])
df_rates = df_rates.drop(columns = ['Frequency of observation', 'Time period', 'Observation value', 'OBS_STATUS', 
                                    'Observation status', 'UNIT_MEASURE'])

In [30]:
# Value = Rate (%)
df_rates.columns = ['Country', 'Variable', 'Year', 'Value']

# https://www.youtube.com/watch?v=DCDe29sIKcE
df_rates['Variable'] = df_rates['Variable'].map({
    'Long-term interest rate on government bonds': 'long_rates',
    'Central bank key interest rate': 'policy_rates', 
    'Short-term interest rate': 'short_rates'})


df_rates['Value'] = df_rates['Value']/100

df_rates.head()

  Country     Variable  Year     Value
0  Latvia  short_rates  2012  0.008883
1  Latvia  short_rates  2011  0.009617
2  Latvia  short_rates  1998  0.083883
3  Latvia  short_rates  1997  0.049567
4  Latvia  short_rates  1996  0.050883

In [31]:
print(df_rates['Variable'].unique())

['short_rates' 'long_rates' 'policy_rates']

In [32]:
df_rates['Country'].unique()

array(['Latvia', 'Germany', 'France', 'Netherlands', 'Australia', 'Korea',
       'Austria', 'Switzerland', 'Belgium', 'Hungary', 'Canada',
       'Portugal', 'Denmark', 'Estonia', 'Italy', 'Slovak Republic',
       'Iceland', 'Mexico', 'New Zealand', 'Finland', 'Costa Rica',
       'Ireland', 'Sweden', 'United States', 'Poland', 'Slovenia',
       'Luxembourg', 'Norway', 'Spain', 'Lithuania', 'Greece', 'Czechia',
       'Japan', 'United Kingdom'], dtype=object)

In [33]:
df_rates = df_rates[df_rates['Country'].isin(countries_to_keep)]
df_rates['Country'].unique()

array(['Germany', 'France', 'Netherlands', 'Australia', 'Austria',
       'Switzerland', 'Belgium', 'Canada', 'Denmark', 'Italy',
       'New Zealand', 'Finland', 'Ireland', 'Sweden', 'United States',
       'Norway', 'Spain', 'Greece', 'Japan', 'United Kingdom'],
      dtype=object)

## Debt-GDP Data

Source: IMF    
Dataset: Fiscal Monitor          
https://data.imf.org/en/Data-Explorer?datasetUrn=IMF.RES:WEO(6.0.0)

In [34]:
df_DEBT = pd.read_csv('/Users/aadityakumaryadav/Downloads/OECD Data/IMF Debt-GDP.csv')

In [35]:
df_DEBT.head()

,COUNTRY,INDICATOR,FREQUENCY,TIME_PERIOD,OBS_VALUE,SCALE
0,Sweden,"Gross debt, General government, Percent of GDP",Annual,1993,66.096,Units
1,Sweden,"Gross debt, General government, Percent of GDP",Annual,1994,68.551,Units
2,Sweden,"Gross debt, General government, Percent of GDP",Annual,1995,68.693,Units
3,Sweden,"Gross debt, General government, Percent of GDP",Annual,1996,68.934,Units
4,Sweden,"Gross debt, General government, Percent of GDP",Annual,1997,67.701,Units

In [36]:
df_debt = df_DEBT.drop(columns = ['FREQUENCY','SCALE'])

# Value = percent of GDP
df_debt.columns = ['Country', 'Variable', 'Year', 'Value']
df_debt['Variable'] = 'debt-GDP'

df_debt['Value'] = df_debt['Value']/100

In [37]:
df_debt.head()

  Country  Variable  Year    Value
0  Sweden  debt-GDP  1993  0.66096
1  Sweden  debt-GDP  1994  0.68551
2  Sweden  debt-GDP  1995  0.68693
3  Sweden  debt-GDP  1996  0.68934
4  Sweden  debt-GDP  1997  0.67701

In [38]:
df_debt['Country'].unique()

array(['Sweden', 'Australia', 'Austria', 'United States', 'Germany',
       'Iceland', 'Italy', 'Ireland', 'Latvia, Republic of',
       'Lithuania, Republic of', 'Luxembourg', 'Mexico', 'New Zealand',
       'Switzerland', 'Belgium', 'Finland', 'France', 'Greece', 'Japan',
       'Netherlands, The', 'Norway', 'Spain', 'United Kingdom', 'Hungary',
       'Portugal', 'Korea, Republic of', 'Canada', 'Denmark'],
      dtype=object)

In [39]:
df_debt['Country'] = df_debt['Country'].replace(
    {'Netherlands, The': 'Netherlands', 'Korea, Republic of': 'Korea'})

In [40]:
df_debt = df_debt[df_debt['Country'].isin(countries_to_keep)]
df_debt['Country'].unique()

array(['Sweden', 'Australia', 'Austria', 'United States', 'Germany',
       'Italy', 'Ireland', 'New Zealand', 'Switzerland', 'Belgium',
       'Finland', 'France', 'Greece', 'Japan', 'Netherlands', 'Norway',
       'Spain', 'United Kingdom', 'Canada', 'Denmark'], dtype=object)

## Real Broad Effective Exchange Rate

Source: Bank for International Settlements   
Units:  Index 2020 = 100, Not Seasonally Adjusted   
Frequency:  Monthly  
https://data.bis.org/topics/EER/data

In [41]:
df_RBEER_1 = pd.read_csv('/Users/aadityakumaryadav/Downloads/OECD Data/BIS RBEER Broad 1.csv')
df_RBEER_2 = pd.read_csv('/Users/aadityakumaryadav/Downloads/OECD Data/BIS RBEER Broad 2.csv')

In [42]:
countries_RBEER = [df_RBEER_1, df_RBEER_2]

# merging the different data frames 
# https://pandas.pydata.org/docs/user_guide/merging.html
df_RBEER = pd.concat(countries_RBEER)

In [43]:
df_RBEER.head()

,DATAFLOW_ID:Dataflow ID,KEY:Timeseries Key,FREQ:Frequency,EER_TYPE:Type,EER_BASKET:Basket,REF_AREA:Reference area,Unit,Unit multiplier,TIME_PERIOD:Period,OBS_CONF:Confidentiality,OBS_PRE_BREAK:Pre-break value,OBS_STATUS:Status,OBS_VALUE:Value
0,"BIS,WS_EER,1.0",M.R.B.AT,M:Monthly,R:Real,B:Broad (64 economies),AT:Austria,"Index, 2020 = 100",NaN,1994-01-31,F:Free,NaN,A:Normal value,103.02
1,"BIS,WS_EER,1.0",M.R.B.AT,M:Monthly,R:Real,B:Broad (64 economies),AT:Austria,"Index, 2020 = 100",NaN,1994-02-28,F:Free,NaN,A:Normal value,102.50
2,"BIS,WS_EER,1.0",M.R.B.AT,M:Monthly,R:Real,B:Broad (64 economies),AT:Austria,"Index, 2020 = 100",NaN,1994-03-31,F:Free,NaN,A:Normal value,103.43
3,"BIS,WS_EER,1.0",M.R.B.AT,M:Monthly,R:Real,B:Broad (64 economies),AT:Austria,"Index, 2020 = 100",NaN,1994-04-30,F:Free,NaN,A:Normal value,102.68
4,"BIS,WS_EER,1.0",M.R.B.AT,M:Monthly,R:Real,B:Broad (64 economies),AT:Austria,"Index, 2020 = 100",NaN,1994-05-31,F:Free,NaN,A:Normal value,103.33

In [44]:
print(df_RBEER.columns)

Index(['DATAFLOW_ID:Dataflow ID', 'KEY:Timeseries Key', 'FREQ:Frequency',
       'EER_TYPE:Type', 'EER_BASKET:Basket', 'REF_AREA:Reference area', 'Unit',
       'Unit multiplier', 'TIME_PERIOD:Period', 'OBS_CONF:Confidentiality',
       'OBS_PRE_BREAK:Pre-break value', 'OBS_STATUS:Status',
       'OBS_VALUE:Value'],
      dtype='object')

In [45]:
df_rbeer = df_RBEER.drop(columns = ['DATAFLOW_ID:Dataflow ID', 'KEY:Timeseries Key', 'FREQ:Frequency',
                                    'EER_TYPE:Type','EER_BASKET:Basket', 'Unit', 'Unit multiplier', 
                                    'OBS_CONF:Confidentiality','OBS_PRE_BREAK:Pre-break value', 
                                    'OBS_STATUS:Status'])

In [46]:
df_rbeer.insert(1, 'Variable', 'RBEER')
df_rbeer.columns = ['Country', 'Variable', 'Year', 'Value']

In [47]:
df_rbeer.head()

      Country Variable        Year   Value
0  AT:Austria    RBEER  1994-01-31  103.02
1  AT:Austria    RBEER  1994-02-28  102.50
2  AT:Austria    RBEER  1994-03-31  103.43
3  AT:Austria    RBEER  1994-04-30  102.68
4  AT:Austria    RBEER  1994-05-31  103.33

In [48]:
df_rbeer['Year'] = df_rbeer['Year'].apply(lambda x: str(x)[:7])

# https://pandas.pydata.org/docs/reference/api/pandas.Series.str.split.html
# want to remove the initials of the country before it's name. split the text based on colon
df_rbeer['Country'] = df_rbeer['Country'].apply(lambda x: str(x).split(':')[-1].strip())
df_rbeer.head()

   Country Variable     Year   Value
0  Austria    RBEER  1994-01  103.02
1  Austria    RBEER  1994-02  102.50
2  Austria    RBEER  1994-03  103.43
3  Austria    RBEER  1994-04  102.68
4  Austria    RBEER  1994-05  103.33

In [49]:
# taking the log of the value
df_rbeer['Value'] = np.log(df_rbeer['Value'])

In [50]:
# taking the average of the monthly data for every year
df_rbeer['Year_Only'] = df_rbeer['Year'].str[:4].astype(int)


# https://www.youtube.com/watch?app=desktop&v=txMdrV1Ut64&t=1640s
country_year = df_rbeer.groupby(['Country', 'Year_Only'])


# https://pandas.pydata.org/docs/user_guide/groupby.html#transformation
# takes the average of the 12 months 
annual_average = country_year['Value'].transform('mean') 

# adding the average value to the colum 
df_rbeer['Annual Value'] = annual_average


# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html#pandas.DataFrame.drop_duplicates
# removing the duplicates as already have the average value
df_rbeer = df_rbeer.drop_duplicates(subset=['Country','Year_Only'], keep='first')

In [51]:
df_rbeer = df_rbeer.reset_index(drop=True) 

df_rbeer.head()

   Country Variable     Year     Value  Year_Only  Annual Value
0  Austria    RBEER  1994-01  4.634923       1994      4.644347
1  Austria    RBEER  1995-01  4.655103       1995      4.669515
2  Austria    RBEER  1996-01  4.654056       1996      4.639413
3  Austria    RBEER  1997-01  4.615319       1997      4.599126
4  Austria    RBEER  1998-01  4.599454       1998      4.602792

In [52]:
df_rbeer = df_rbeer.drop(columns = ['Year', 'Value'])
df_rbeer.columns = ['Country', 'Variable', 'Year', 'Value']

In [53]:
df_rbeer.head()

   Country Variable  Year     Value
0  Austria    RBEER  1994  4.644347
1  Austria    RBEER  1995  4.669515
2  Austria    RBEER  1996  4.639413
3  Austria    RBEER  1997  4.599126
4  Austria    RBEER  1998  4.602792

In [54]:
df_rbeer['Country'].unique()

array(['Austria', 'Australia', 'Belgium', 'Canada', 'Germany', 'Denmark',
       'Finland', 'France', 'Greece', 'Hungary', 'Ireland', 'Iceland',
       'Italy', 'Japan', 'Korea', 'Latvia', 'Switzerland', 'Spain',
       'United Kingdom', 'Lithuania', 'Luxembourg', 'Mexico',
       'Netherlands', 'Norway', 'New Zealand', 'Poland', 'Portugal',
       'Sweden', 'United States'], dtype=object)

In [55]:
df_rbeer = df_rbeer[df_rbeer['Country'].isin(countries_to_keep)]
df_rbeer['Country'].unique()

array(['Austria', 'Australia', 'Belgium', 'Canada', 'Germany', 'Denmark',
       'Finland', 'France', 'Greece', 'Ireland', 'Italy', 'Japan',
       'Switzerland', 'Spain', 'United Kingdom', 'Netherlands', 'Norway',
       'New Zealand', 'Sweden', 'United States'], dtype=object)

## Real Narrow Effective Exchange Rate

Source: Bank for International Settlements   
Units:  Index 2020 = 100, Not Seasonally Adjusted   
Frequency:  Monthly  
Reason: Might be useful for robustness though mainly plan to use RBEER    
https://data.bis.org/topics/EER/data

In [56]:
df_RNEER_1 = pd.read_excel('/Users/aadityakumaryadav/Downloads/OECD Data/BIS Narrow 1.xlsx')
df_RNEER_2 = pd.read_excel('/Users/aadityakumaryadav/Downloads/OECD Data/BIS Narrow 2.xlsx')

In [57]:
countries_RNEER = [df_RNEER_1, df_RNEER_2]
df_RNEER = pd.concat(countries_RNEER)

In [58]:
df_RNEER.head()

,DATAFLOW_ID:Dataflow ID,KEY:Timeseries Key,FREQ:Frequency,EER_TYPE:Type,EER_BASKET:Basket,REF_AREA:Reference area,Unit,Unit multiplier,TIME_PERIOD:Period,OBS_CONF:Confidentiality,OBS_PRE_BREAK:Pre-break value,OBS_STATUS:Status,OBS_VALUE:Value
0,"BIS,WS_EER,1.0",M.R.N.CH,M:Monthly,R:Real,N:Narrow (27 economies),CH:Switzerland,"Index, 2020 = 100",NaN,1964-01-31,F:Free,NaN,A:Normal value,62.70
1,"BIS,WS_EER,1.0",M.R.N.CH,M:Monthly,R:Real,N:Narrow (27 economies),CH:Switzerland,"Index, 2020 = 100",NaN,1964-02-29,F:Free,NaN,A:Normal value,62.51
2,"BIS,WS_EER,1.0",M.R.N.CH,M:Monthly,R:Real,N:Narrow (27 economies),CH:Switzerland,"Index, 2020 = 100",NaN,1964-03-31,F:Free,NaN,A:Normal value,62.44
3,"BIS,WS_EER,1.0",M.R.N.CH,M:Monthly,R:Real,N:Narrow (27 economies),CH:Switzerland,"Index, 2020 = 100",NaN,1964-04-30,F:Free,NaN,A:Normal value,62.64
4,"BIS,WS_EER,1.0",M.R.N.CH,M:Monthly,R:Real,N:Narrow (27 economies),CH:Switzerland,"Index, 2020 = 100",NaN,1964-05-31,F:Free,NaN,A:Normal value,63.35

In [59]:
df_rneer = df_RNEER.drop(columns = ['DATAFLOW_ID:Dataflow ID', 'KEY:Timeseries Key', 'FREQ:Frequency',
                                    'EER_TYPE:Type','EER_BASKET:Basket', 'Unit', 'Unit multiplier', 
                                    'OBS_CONF:Confidentiality','OBS_PRE_BREAK:Pre-break value', 
                                    'OBS_STATUS:Status'])

In [60]:
df_rneer.insert(1, 'Variable', 'RNEER')
df_rneer.columns = ['Country', 'Variable', 'Year', 'Value']

In [61]:
df_rneer.head()

          Country Variable        Year  Value
0  CH:Switzerland    RNEER  1964-01-31  62.70
1  CH:Switzerland    RNEER  1964-02-29  62.51
2  CH:Switzerland    RNEER  1964-03-31  62.44
3  CH:Switzerland    RNEER  1964-04-30  62.64
4  CH:Switzerland    RNEER  1964-05-31  63.35

In [62]:
df_rneer['Year'] = df_rneer['Year'].apply(lambda x: str(x)[:7])

# want to remove the initials of the country before it's name. split the text based on colon
df_rneer['Country'] = df_rneer['Country'].apply(lambda x: str(x).split(':')[-1].strip())

In [63]:
# taking the log of the value
df_rneer['Value'] = np.log(df_rneer['Value'])

In [64]:
# taking the average of the monthly data for every year
df_rneer['Year_Only'] = df_rneer['Year'].str[:4].astype(int)


# https://www.youtube.com/watch?app=desktop&v=txMdrV1Ut64&t=1640s
country_year = df_rneer.groupby(['Country', 'Year_Only'])


# https://pandas.pydata.org/docs/user_guide/groupby.html#transformation
# takes the average of the 12 months 
annual_average = country_year['Value'].transform('mean') 


# adding the average value to the colum 
df_rneer['Annual Value'] = annual_average


# removing the duplicates as already have the average value
df_rneer = df_rneer.drop_duplicates(subset=['Country','Year_Only'], keep='first')

In [65]:
df_rneer = df_rneer.reset_index(drop=True) 

df_rneer.head()

       Country Variable     Year     Value  Year_Only  Annual Value
0  Switzerland    RNEER  1964-01  4.138361       1964      4.138137
1  Switzerland    RNEER  1965-01  4.126005       1965      4.130696
2  Switzerland    RNEER  1966-01  4.139955       1966      4.142713
3  Switzerland    RNEER  1967-01  4.148675       1967      4.152984
4  Switzerland    RNEER  1968-01  4.170997       1968      4.170256

In [66]:
# dropping the columns with montly data and renaming the annual ones
df_rneer = df_rneer.drop(columns = ['Year', 'Value'])
df_rneer.columns = ['Country', 'Variable', 'Year', 'Value']

In [67]:
df_rneer.head()

       Country Variable  Year     Value
0  Switzerland    RNEER  1964  4.138137
1  Switzerland    RNEER  1965  4.130696
2  Switzerland    RNEER  1966  4.142713
3  Switzerland    RNEER  1967  4.152984
4  Switzerland    RNEER  1968  4.170256

In [68]:
df_rneer['Country'].unique()

array(['Switzerland', 'Germany', 'Spain', 'United Kingdom', 'Greece',
       'Ireland', 'Italy', 'Japan', 'Korea', 'Mexico', 'Netherlands',
       'Norway', 'New Zealand', 'Portugal', 'Sweden', 'United States',
       'Austria', 'Australia', 'Belgium', 'Canada', 'Denmark', 'Finland',
       'France'], dtype=object)

In [69]:
df_rneer = df_rneer[df_rneer['Country'].isin(countries_to_keep)]
df_rneer['Country'].unique()

array(['Switzerland', 'Germany', 'Spain', 'United Kingdom', 'Greece',
       'Ireland', 'Italy', 'Japan', 'Netherlands', 'Norway',
       'New Zealand', 'Sweden', 'United States', 'Austria', 'Australia',
       'Belgium', 'Canada', 'Denmark', 'Finland', 'France'], dtype=object)

## Inflation Forecast (Expectations)

Source: OECD   
Frequency: Quarterly    
https://www.oecd.org/en/data/indicators/inflation-forecast.html?oecdcontrol-68a15c79cc-var3=1971-Q1&oecdcontrol-68a15c79cc-var4=2025-Q4&oecdcontrol-68a15c79cc-var5=Q

In [70]:
# https://realpython.com/get-all-files-in-directory-python/#
# reading all the csv files in the folder 
inflation_forecast = pathlib.Path('/Users/aadityakumaryadav/Downloads/OCED Inflation Forecast')
files = list(inflation_forecast.glob('*.csv'))


countries = []
inflation_forecast = []


for file in files: 
    
    with open(file, 'r') as infl_f:
        lines = infl_f.readlines()
    
        # country name in the third line
        header_line = lines[2]
        country = header_line.split(',')[1].replace('"', '').strip()
        countries.append(country)
    
    
    # actual data starts from line 4, so only start reading from there
    df = pd.read_csv(file, skiprows=3, names=['Year', 'Value'])
    
    df.insert(0, 'Country', country)
    df.insert(1, 'Variable', 'inflation_expectations')

    inflation_forecast.append(df)
    
    # only including the year and month 
    df['Year'] = df['Year'].apply(lambda x: (str(x)[:7]))
        
    
# combining all the different data frames
df_inflation_expectations = pd.concat(inflation_forecast)

In [71]:
df_inflation_expectations['Value'] = df_inflation_expectations['Value']/100


df_inflation_expectations.head()

       Country                Variable     Year     Value
0  New Zealand  inflation_expectations  1971-01  0.102969
1  New Zealand  inflation_expectations  1971-04  0.110738
2  New Zealand  inflation_expectations  1971-07  0.111671
3  New Zealand  inflation_expectations  1971-10  0.090787
4  New Zealand  inflation_expectations  1972-01  0.085039

In [72]:
# taking the average of the quartely inflation expectations for every year
df_inflation_expectations['Year_Only'] = df_inflation_expectations['Year'].str[:4].astype(int)


country_year = df_inflation_expectations.groupby(['Country', 'Year_Only'])

In [73]:
# takes the average of the 12 months 
annual_average = country_year['Value'].transform('mean') 


# adding the average value to the column 
df_inflation_expectations['Annual Value'] = annual_average

In [74]:
# removing the duplicates as already have the average value
df_inflation_expectations = df_inflation_expectations.drop_duplicates(subset=['Country','Year_Only'], keep='first')

In [75]:
df_inflation_expectations = df_inflation_expectations.reset_index(drop=True) 

df_inflation_expectations.head()

,Country,Variable,Year,Value,Year_Only,Annual Value
0,New Zealand,inflation_expectations,1971-01,0.102969,1971,0.104041
1,New Zealand,inflation_expectations,1972-01,0.085039,1972,0.069604
2,New Zealand,inflation_expectations,1973-01,0.060461,1973,0.081461
3,New Zealand,inflation_expectations,1974-01,0.104250,1974,0.110855
4,New Zealand,inflation_expectations,1975-01,0.133294,1975,0.146593

In [76]:
# dropping the columns with montly data and renaming the annual ones
df_inflation_expectations = df_inflation_expectations.drop(columns = ['Year', 'Value'])
df_inflation_expectations.columns = ['Country', 'Variable', 'Year', 'Value']

In [77]:
df_inflation_expectations.head()

       Country                Variable  Year     Value
0  New Zealand  inflation_expectations  1971  0.104041
1  New Zealand  inflation_expectations  1972  0.069604
2  New Zealand  inflation_expectations  1973  0.081461
3  New Zealand  inflation_expectations  1974  0.110855
4  New Zealand  inflation_expectations  1975  0.146593

In [78]:
df_inflation_expectations['Country'].unique()

array(['New Zealand', 'Japan', 'Canada', 'Belgium', 'Iceland',
       'Luxembourg', 'Portugal', 'Italy', 'Sweden', 'Austria', 'Korea',
       'Denmark', 'Greece', 'Australia', 'Netherlands', 'Switzerland',
       'Israel', 'Poland', 'Germany', 'United Kingdom', 'Norway',
       'Finland', 'Spain', 'United States', 'Ireland', 'France'],
      dtype=object)

In [79]:
df_inflation_expectations = df_inflation_expectations[df_inflation_expectations['Country'].isin(countries_to_keep)]
df_inflation_expectations['Country'].unique()

array(['New Zealand', 'Japan', 'Canada', 'Belgium', 'Italy', 'Sweden',
       'Austria', 'Denmark', 'Greece', 'Australia', 'Netherlands',
       'Switzerland', 'Germany', 'United Kingdom', 'Norway', 'Finland',
       'Spain', 'United States', 'Ireland', 'France'], dtype=object)

## Data as of now

In [80]:
df_capb.head(2)

    Country Variable  Year     Value
59  Denmark     CAPB  2003  0.024083
60  Denmark     CAPB  2002  0.021276

In [81]:
df_unemployment.head(2)

   Country           Variable  Year  Value
0  Ireland  unemployment_rate  1985  0.177
1  Ireland  unemployment_rate  1986  0.181

In [82]:
df_real_GDP.head(2)

   Country  Variable  Year     Value
0  Belgium  real_GDP  1998  6.155797
1  Belgium  real_GDP  1997  6.136368

In [83]:
df_rates.head(2)

    Country    Variable  Year     Value
32  Germany  long_rates  2009  0.032222
33  Germany  long_rates  2008  0.039848

In [84]:
df_debt.head(2)

  Country  Variable  Year    Value
0  Sweden  debt-GDP  1993  0.66096
1  Sweden  debt-GDP  1994  0.68551

In [85]:
df_rbeer.head(2)

   Country Variable  Year     Value
0  Austria    RBEER  1994  4.644347
1  Austria    RBEER  1995  4.669515

In [86]:
df_rneer.head(2)

       Country Variable  Year     Value
0  Switzerland    RNEER  1964  4.138137
1  Switzerland    RNEER  1965  4.130696

In [87]:
df_inflation_expectations.head(2)

       Country                Variable  Year     Value
0  New Zealand  inflation_expectations  1971  0.104041
1  New Zealand  inflation_expectations  1972  0.069604

In [88]:
df = [df_capb, df_unemployment, df_real_GDP, df_rates, df_debt, df_rbeer, df_rneer, df_inflation_expectations]

In [89]:
df = pd.concat(df, ignore_index=True)

In [90]:
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.pivot.html
df_long = df.pivot(index=['Country', 'Year'], columns='Variable', values='Value').reset_index()

In [91]:
# drops any data that is after 2024
df_long = df_long[df_long['Year'] <= 2024]

# drop any data before 1999
df_long = df_long[df_long['Year'] >= 1999]

In [92]:
df_long.head(3)

Variable,Country,Year,CAPB,RBEER,RNEER,debt-GDP,inflation_expectations,long_rates,policy_rates,real_GDP,short_rates,unemployment_rate
35,Australia,1999,0.032244,4.464690,4.374183,0.22544,0.014068,0.060093,0.048125,6.727831,0.050117,0.06867
36,Australia,2000,0.012316,4.416883,4.328219,0.19495,0.044471,0.063146,0.060000,6.747880,0.061775,0.06292
37,Australia,2001,0.001170,4.378270,4.291368,0.17106,0.044417,0.056153,0.048750,6.786905,0.048992,0.06775

In [93]:
# zero lower bound binary identification 
# policy rates below 0.25 will be classified as ZLB 

df_long.loc[df_long['policy_rates'] <= 0.0025, 'ZLB'] = 1
df_long.loc[df_long['policy_rates'] >  0.0025, 'ZLB'] = 0

In [94]:
df_long.head(3)

Variable,Country,Year,CAPB,RBEER,RNEER,debt-GDP,inflation_expectations,long_rates,policy_rates,real_GDP,short_rates,unemployment_rate,ZLB
35,Australia,1999,0.032244,4.464690,4.374183,0.22544,0.014068,0.060093,0.048125,6.727831,0.050117,0.06867,0.0
36,Australia,2000,0.012316,4.416883,4.328219,0.19495,0.044471,0.063146,0.060000,6.747880,0.061775,0.06292,0.0
37,Australia,2001,0.001170,4.378270,4.291368,0.17106,0.044417,0.056153,0.048750,6.786905,0.048992,0.06775,0.0

In [95]:
# no index in the excel sheet 
df_long.to_excel("countries_long.xlsx", index=False)

**Note**    
- United States observation for 1999-200 for debt-GDP and policy rates 1999-2002 were missing. Missing data values were replaced from the data obtained from the Federal Reserve Bank of St Louis. Note that these values were also used in the regression for United States.      
https://fred.stlouisfed.org         
- Switzerland switched from monetary targeting to inflation targeting. Hence, the policy rate for the year 1999 is missing.         
- In several periods, the policy rates for Korea are missing. However, it might not be even necessary to include Korea in the regression because the rates have not hit the ZLB. It will be dropped from the data set.